$gradientMain: linear-gradient(63.53deg, #2d8550 16.62%, #5e6ec2 83.38%);
$colorTextMain: #fff;
$colorTextDark: #424242;
$colorBrand: #8e9ad5;
$colorDrugCheap: #8049C7;
$colorDrugBrand: #169ae4;
$colorDrugGood: #ffd748;